extends ./layout/index

block contenido
    main.container.mt-5
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rutrum quam et condimentum accumsan. Maecenas volutpat fringilla libero, sit amet placerat justo molestie vel. Integer malesuada lobortis lectus, vitae pharetra nunc lacinia a. Fusce convallis nec est sed fermentum.

                p Suspendisse tincidunt turpis lectus, ut molestie dolor auctor ut. Integer non euismod sem, a rhoncus metus. Vivamus porttitor pulvinar tempus. Donec cursus aliquet feugiat. Sed magna arcu, placerat nec blandit et, gravida eget est. Phasellus sagittis scelerisque mi ac aliquam. Phasellus eget purus nec ipsum sodales consequat.  

                p Vivamus hendrerit id ligula pellentesque sagittis. Integer iaculis sapien sit amet iaculis venenatis. Sed id purus lobortis, hendrerit lacus at, facilisis elit. Donec purus quam, semper sed urna sit amet, facilisis faucibus sapien. Cras neque lectus, tincidunt id dui sit amet, pellentesque vulputate mi. 

    .listado-iconos  
        .container.mt-5.py-5.text-center 
            .row   
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Donec purus quam, semper sed urna sit amet, facilisis faucibus sapien. Cras neque lectus, tincidunt id dui sit amet, pellentesque vulputate mi.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Donec purus quam, semper sed urna sit amet, facilisis faucibus sapien. Cras neque lectus, tincidunt id dui sit amet, pellentesque vulputate mi.
                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precio", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Donec purus quam, semper sed urna sit amet, facilisis faucibus sapien. Cras neque lectus, tincidunt id dui sit amet, pellentesque vulputate mi.
                
                
